$color-orca-red: #a90d00;
$color-orca-tomato-red: #d63100;
$color-orca-blue: #002b44;
$color-orca-lavender-blue: #d7ebfc;
$color-orca-grey: #f6f6f6;

$primary: $color-orca-blue;
$secondary: $color-orca-red;
$color-white: #fff;

$color-orca-border: rgba(#000, 0.15);
$color-orca-background-focus: #757575;
